<head>
    {% load static %}

    <link rel="stylesheet" href="{% static 'pwwProject/style.css' %}">
</head>

<html class="background">
    <body>
        <section class="main-content">
            <div class="main-block">
                <button>
                    Templates
                </button>
            </div>
            <div class="main-block">
                <button>
                    Mark Review
                </button>
            </div>
            <div class="main-block">
                <button>
                    Meeting Assist
                </button>
            </div>
        </section>
    </body>
</html>


